# File multiPhate.config controls execution of the PhATE pipeline.
# The rules of the game:
#    List your genomes as shown below: (e.g., Genome NNN), followed by the 5 required parameters.
#    It is best to use numbering (e.g., Genome 1, etc).
#    When naming your genomes, do not use special characters or spaces.
#    Include the slash after the name of your output subdirectory (e.g., MyPhageOutDir/)
#    Name your genome's fasta file with file extension ".fasta".
# Invoke multiPhate as follows:  $ python multiPhate.py myMultiPhate.config

Genome List: List each genome name followed by semicolon (;) and the fasta file name
Genome 1
genome_file='P2_contigs.fasta'
genome_type='phage'
species='P2_phage'
name='P2'
output_subdir='P2_contigs/'
Genome 2
genome_file='Lambda.fasta'
genome_type='phage'
species='Lambda_phage'
name='Lambda'
output_subdir='Lambda/'
Genome 3 
genome_file='LYP264.fasta'
genome_type='phage'
species='LYP264_phage'
name='LYP264'
output_subdir='LYP264/'
END of list

# Processing information 
genetic_code='11'
translate_only='true'

# Gene callers
# Note: GeneMarkS requires license
gene_caller='phanotate'
genemarks_calls='false'
prodigal_calls='false'
glimmer_calls='false'
phanotate_calls='true'

# Blast parameters
blast_identity='60'
blastp_hit_count='3'
blastn_hit_count='3'

# Blast databases to set:
# Genomes: ncbi_virus_blast
ncbi_virus_blast='false'
# Genes: refseq_gene_blast 
refseq_gene_blast='false'
# Proteins: ncbi_virus_protein_blast, kegg_virus_blast, nr_blast, refseq_protein_blast, phantome_blast, pvogs_blast
# Note: KEGG requires license
ncbi_virus_protein_blast='false'
kegg_virus_blast='false'
phantome_blast='false'
pvogs_blast='false'
swissprot_blast='false'
refseq_protein_blast='false'
nr_blast='false'

# HMM database(s) to set:
hmm_program='jackhmmer'
pvogs_hmm='false'

# Other, external annotation
# If you have PSAT output, include the file
# Otherwise, set to 'false' and set psat file to ''
psat_annotation='false'
psat_file=''
