# Config file for genome 1 AKA P2

# Processing information
genome_file='P2.fasta'
genome_type='phage'
species='P2_phage'
name='P2'
output_subdir='P2/'
genetic_code='11'
translate_only='False'

# Gene callers
gene_caller='phanotate'
genemarks_calls='False'
prodigal_calls='True'
glimmer_calls='True'
phanotate_calls='True'

# Blast parameters
blast_identity='60'
blastn_hit_count='3'
blastp_hit_count='3'
# Blast databases to set
# Genomes: ncbi_virus_blast
ncbi_virus_blast='True'
# Genes: refseq_gene_blast
refseq_gene_blast='True'
# Proteins: ncbi_virus_protein_blast, kegg_virus_blast, nr_blast, refseq_protein_blast, phantome_blast, pvogs_blast
ncbi_virus_protein_blast='True'
kegg_virus_blast='False'
phantome_blast='True'
pvogs_blast='True'
swissprot_blast='True'
refseq_protein_blast='True'
nr_blast='False'

# HMM database(s) to set
hmm_program='jackhmmer'
pvogs_hmm='False'

# Other, external annotation
# If you have PSAT output, include the file
# Otherwise, set to 'false' and set psat file to ''
psat_annotation='False'
psat_file=''
