# File multiPhate.config controls execution of the multiPhATE driver of the PhATE pipeline.
# The rules of the game:
#    List your genomes as shown below: (e.g., Genome NNN), followed by the 5 required parameters.
#    Include the slash after the name of your output subdirectory (e.g., MyPhageOutDir/)
#    It is best to use numbering (e.g., Genome 1, etc).
#    When naming your genomes, do not use special characters or spaces.
#    Name your genome's fasta file with file extension ".fasta".
#    You may name the multiPhate.config file as you like, "multiPhate.config" is suggested.
# Invoke multiPhate as follows:  $ python multiPhate.py multiPhate.config

Genome List:
Genome 1
genome_file='P2.fasta'
genome_type='phage'
species='P2_phage'
name='P2'
output_subdir='P2/'
Genome 2
genome_file='Lambda.fasta'
genome_type='phage'
species='Lambda_phage'
name='Lambda'
output_subdir='Lambda/'
END of list

# Processing information: for gene-calling (followed by translation) only, set translate only line to true
# It is recommended that you first do gene calling, without functional annotation (blast, hmm) in order to
# examine the results of gene finding and possibly compare results between multiple gene callers. Then,
# you may select the most satisfactory gene caller, and proceed with functional annotation using those calls.
genetic_code='11'
translate_only='false'

# GENE CALLERS
# Note: GeneMarkS requires license
# gene caller line specifies preferred caller; choose one of the four
# turn individual gene callers on or off
gene_caller='phanotate'
genemarks_calls='false'
prodigal_calls='true'
glimmer_calls='true'
phanotate_calls='true'

# ANNOTATION
# Blast databases to set:

# Genomes: ncbi_virus_blast
ncbi_virus_blast='true'

# Genes: refseq_gene_blast
refseq_gene_blast='true'

# Proteins: ncbi_virus_protein_blast, kegg_virus_blast, nr_blast, refseq_protein_blast, phantome_blast, pvogs_blast
# Note: KEGG requires license
ncbi_virus_protein_blast='true'
kegg_virus_blast='false'
phantome_blast='true'
pvogs_blast='true'
swissprot_blast='true'
refseq_protein_blast='true'
nr_blast='false'
# Blast parameters
blast_identity='60'
blastp_hit_count='3'
blastn_hit_count='3'

# HMM database(s) to set:
# Only one HMM program currently supported
hmm_program='jackhmmer'
pvogs_hmm='false'

# DATABASES
# Specify locations of your local instances of databases; use full path/filename
ncbi_virus_database='/Users/kimbrel1/Science/repos/multiPhATE/Databases/NCBI/Virus_Genome/viral.genomic.fna'
refseq_gene_database='/Users/kimbrel1/Science/repos/multiPhATE/Databases/Refseq/Gene/refseqgene'
ncbi_virus_protein_database='/Users/kimbrel1/Science/repos/multiPhATE/Databases/NCBI/Virus_Protein/viral.protein.faa'
#kegg_virus_database='/Path2database/Databases/KEGG/T40000.pep'
phantome_database='/Users/kimbrel1/Science/repos/multiPhATE/Databases/Phantome/Phantome_Phage_genes.faa'
pvogs_database='/Users/kimbrel1/Science/repos/multiPhATE/Databases/pVOGs/pVOGs.faa'
swissprot_database='/Users/kimbrel1/Science/repos/multiPhATE/Databases/Swissprot/swissprot'
refseq_protein_database='/Users/kimbrel1/Science/repos/multiPhATE/Databases/Refseq/Protein/refseq_protein'
#nr_database='/Path2database/Databases/NR/nr'

# VERBOSITY
# Control which messages to print or whether to retain intermediate data
# Warnings and messages can be voluminous.
phate_warnings='true'
phate_messages='true'
phate_progress='true'
cgc_warnings='true'
cgc_messages='true`'
cgc_progress='true'
clean_raw_data='true'
